<div class="col-sm">
    <div class="row-mt-5">
        <h1>Cámara de vigilancia-Museo</h1>
    </div>
    
    <div class="row-mt-3">
            <i>Cámara 1</i><br>
            <!--<img src="../../$camara.imagenPrueba($lastImage)" width="50%">-->
            <img src="../../$camara.getImages($lastImage)" width="50%">
    
    </div>  
</div>
